# Frontend
frontend/node_modules
frontend/build
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local


# Backend (if you add later)
backend/node_modules
backend/.env

# Common
.env
.vscode
.DS_Store


serviceAccountKey.json
